#map-container{
    height:55vh;
}

.station-circle{
    fill: #17a2b8
}

.station-circle-selected {
    fill: #f0c3ba !important;   
}

.variable-selector-selected {
    color:#b82d17;
}

.highlight{
    color:#b82d17;
}

.btn-primary{
    background-color: #17a2b8;
    border-color: #17a2b8;
}
