#map-container{
    height:55vh;
}

.station-circle{
    fill: #17a2b8
}

.station-circle-selected {
    fill: #b82d17;   
}

.variable-selector-selected {
    color:#b82d17;
}

.highlight{
    color:#b82d17;
}